{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>main</title>
  {% block css%}
  <link rel="stylesheet" type="text/css" href="{% static 'css/manage_admin.css'%}">
  {% endblock %}
</head>
<body>
{% block AA%}
  {% if user == False %}
    <form class="form-inline my-2 my-lg-0" action="/login">
      <button class="btn btn-outline-success my-2 my-sm-0" id="login-btn" type="submit">로그인</button>
    </form>
  {% else %}
    <form class="form-inline my-2 my-lg-0" action="/logout">
      <button class="btn btn-outline-success my-2 my-sm-0" id="login-btn" type="submit">{{user.name}}</button>
    </form>
  {% endif %}
{% endblock %}




{% block content %}
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/main">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">CCTV</li>
    <li class="breadcrumb-item active" aria-current="page">촬영공간 추가/삭제</li>
  </ol>
</nav>

<div>
  <table id="table" class="table table-hover table-mc-light-blue">
  <h4 class="my">할당된 CCTV 관리</h4>
  <h6 class="my">새로운 촬영공간 추가/제거 및 수정이 가능합니다.</h6>

      <thead class="my2">
        <tr>
          <th style="text-align: center;">모델명</th>
          <th style="text-align: center;">설치날짜</th>
          <th style="text-align: center;">경도</th>
          <th style="text-align: center;">위도</th>
          <th style="text-align: center;">촬영공간</th>
          <th style="text-align: center;">촬영공간 할당</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <th style="text-align: center;">
            <input style="text-align: center;" type="text" id="myInput0" onkeyup="myFunction0()" placeholder="모델명으로 검색">
        </th>
        <th style="text-align: center;">
            <input style="text-align: center;" type="text" id="myInput1" onkeyup="myFunction1()" placeholder="날짜로 검색">
        </th>
        <th style="text-align: center;"></th>
        <th style="text-align: center;">
            <input style="text-align: center;" type="text" id="myInput3" onkeyup="myFunction3()" placeholder="촬영공간으로 검색">
        </th>
        <th></th>
        <th></th>

      </tr>
      {% for key,value in cctv_area.items %}
        <tr>
          <td style="text-align: center;">{{key.model}}</td>
          <td style="text-align: center;">{{key.setup_date}}</td>
          <td style="text-align: center;">{{key.lat}}</td>
          <td style="text-align: center;">{{key.lon}}</td>
          <td style="text-align: center;">
          {% for v in value %}
              <a href="/admin_video/?cctvid={{key.id}}&areaid={{v.id}}">{{v.name}},</a>
          {% endfor %}
          </td>
          <td data-title="Position">
            <a href="/admin_cctv_area_alloc/{{key.id}}">촬영공간 할당</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
</div>
{% endblock %}
</body>
{% block scripts %}
  <script src="{% static 'js/cctv.js'%}"></script>
{% endblock %}
</html>
