{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	{% block css%}
	<link rel="stylesheet" href="{% static 'css/signin.css'%}">
	{% endblock %}
</head>
<body>
{% block content %}
 <div class="container">

      <form method="post" class="form-signin">
		{% csrf_token %}
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input name="pw" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input name="remem" type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block btn btn-danger btn-lg" type="submit">Sign in</button>
      </form>

    </div> <!-- /container -->
{% endblock %}

</body>
</html>