<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Simple Polylines</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>

      // This example creates a 2-pixel-wide red polyline showing the path of William
      // Kingsford Smith's first trans-Pacific flight between Oakland, CA, and
      // Brisbane, Australia.

      function initMap() {


          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 17,
            center: {lat: {{center_lat}}, lng: {{center_lon}}},
            // mapTypeId: 'terrain'
          });


          var flightPlanCoordinates = [
              {lat: {{targetNEI.id_AREA1.lat}}, lng: {{targetNEI.id_AREA1.lon}}},
              {lat: {{targetNEI.id_AREA2.lat}}, lng: {{targetNEI.id_AREA2.lon}}},
          ];

          var flightPath = new google.maps.Polyline({
            path: flightPlanCoordinates,
            geodesic: true,
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 2
          });
  
          var marker0 = new google.maps.Marker({
            position: { lat: {{targetNEI.id_AREA1.lat}}, lng: {{targetNEI.id_AREA1.lon}} },
            map: map,
            label: '{{targetNEI.id_AREA1.name}}'
          });

          var marker1 = new google.maps.Marker({
            position: { lat: {{targetNEI.id_AREA2.lat}}, lng: {{targetNEI.id_AREA2.lon}} },
            map: map,
            label: '{{targetNEI.id_AREA2.name}}'
          });
        
          flightPath.setMap(map);
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlRhiZOEOyc91d9j7EevLbtqhKxfyh1Yk&callback=initMap">
    </script>
  </body>
</html>