{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>main</title>
  {% block css%}
  <link rel="stylesheet" type="text/css" href="{% static 'css/manage_admin.css'%}">
  {% endblock %}
</head>
<body>
{% block AA%}
	{% if user == False %}
    <form class="form-inline my-2 my-lg-0" action="/login">      
      <button class="btn btn-outline-success my-2 my-sm-0" id="login-btn" type="submit">로그인</button>
    </form>
	{% else %}
    <form class="form-inline my-2 my-lg-0" action="/logout">      
      <button class="btn btn-outline-success my-2 my-sm-0" id="login-btn" type="submit">{{user.name}}</button>
    </form>
	{% endif %}
{% endblock %}




{% block content %}
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/main">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">CCTV</li>
    <li class="breadcrumb-item active" aria-current="page">현황/삭제</li>
  </ol>
</nav>
<div class="table-responsive-vertical shadow-z-1" id="tableees">
<table id="table" class="table table-hover table-mc-light-blue">
      <thead>
        <tr>
          <th style="text-align: center;">모델명</th>
          <th style="text-align: center;">설치날짜</th>
          <th style="text-align: center;">경도</th>
          <th style="text-align: center;">위도</th>
          <th style="text-align: center;">책임자</th>
          <th style="text-align: center;">정보</th>
          <th style="text-align: center; color:red">삭제</th>
        </tr>
        <tr>
          <th style="text-align: center;">
              <input style="text-align: center;" type="text" id="myInput0" onkeyup="myFunction0()" placeholder="모델명 검색">
          </th>
          <th style="text-align: center;">
              <input style="text-align: center;" type="text" id="myInput1" onkeyup="myFunction1()" placeholder="날짜 검색">
          </th>
          <th style="text-align: center;"></th>
          <th style="text-align: center;"></th>
          <th style="text-align: center;">
              <input style="text-align: center;" type="text" id="myInput4" onkeyup="myFunction4()" placeholder="책임자 검색">
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      
      {% for i in cctvs %}
        <tr>
          <td style="text-align: center;" data-title="Email">{{i.model}}</td>
          <td style="text-align: center;" data-title="Name">{{i.setup_date}}</td>
          <td style="text-align: center;" data-title="Position">{{i.lat}}</td>
          <td style="text-align: center;" data-title="Position">{{i.lon}}</td>
          <td style="text-align: center;" data-title="Position">{{i.name}}({{i.phone_number}})</td>
          <td style="text-align: center;" data-title="Position">
            <a href="/manage_cctv_alloc/{{i.id}}">자세히</a>
          </td>
          <td>
          <a href="/manage_cctv_delete/{{i.id}}" style="color:red">삭제</a>
          </td> 
        </tr>
      {% endfor %}
      </tbody>
    </table>
</div>
{% endblock %}
</body>
{% block scripts %}
  <script src="{% static 'js/cctv.js'%}"></script>
{% endblock %}
</html>