{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
  {% block css%}
  <link rel="stylesheet" type="text/css" href="{% static 'css/manage_admin.css'%}">
  {% endblock %}
</head>
<body>
{% block AA%}
	{% if user == False %}
    <form class="form-inline my-2 my-lg-0" action="/login">      
      <button class="btn btn-outline-success my-2 my-sm-0" id="login-btn" type="submit">로그인</button>
    </form>
	{% else %}
    <form class="form-inline my-2 my-lg-0" action="/logout">      
      <button class="btn btn-outline-success my-2 my-sm-0" id="login-btn" type="submit">{{user.name}}</button>
    </form>
	{% endif %}
{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/main">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">CCTV</li>
    <li class="breadcrumb-item active" aria-current="page">촬영공간 관리</li>
  </ol>
</nav>
<div class="table-responsive-vertical shadow-z-1" id="tableees">
  <!-- Table starts here -->
  <table id="table" class=" table table-hover table-mc-light-blue">
  <h4 class="my">촬영공간</h4>
      <thead class="my2">
        <tr>
          <th style="text-align: center;">이름</th>
          <th style="text-align: center;">주소</th>
          <th style="text-align: center;">위치</th>
          <th style="text-align: center;">경도</th>
          <th style="text-align: center;">위도</th>
          <th style="text-align: center;">자세히</th>
          <th style="text-align: center;">삭제</th>
        </tr>
        <tr>
          <th style="text-align: center;">
            <input style="text-align: center;" type="text" id="myInput0" onkeyup="myFunction0()" placeholder="이름 검색">
          </th>
          <th style="text-align: center;">
            <input style="text-align: center;" type="text" id="myInput1" onkeyup="myFunction1()" placeholder="주소 검색">
          </th>
          <th style="text-align: center;">
            <input style="text-align: center;" type="text" id="myInput2" onkeyup="myFunction2()" placeholder="위치 검색">
          </th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      {% for i in all_area %}
        <tr>
          <td style="text-align: center;" data-title="Name">{{i.name}}</td>
          <td style="text-align: center;" data-title="Addr">{{i.address}}</td>
          <td style="text-align: center;" data-title="Loc">{{i.loc1}} {{i.loc2}} {{i.loc3}}</td>
          <td style="text-align: center;" data-title="lat">{{i.lat}}</td>
          <td style="text-align: center;" data-title="lat">{{i.lon}}</td>
          <td style="text-align: center;" data-title="maplink">
            <a style="color:orange;" href="/manage_area_modify/{{i.id}}">자세히</a>
          </td>
          <td style="text-align: center;" data-title="delete">
            <a style="color:red; font-weight: bold;" href="/manage_area_delete/{{i.id}}">삭제</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

<iframe
  width="100%"
  height="450px"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBlRhiZOEOyc91d9j7EevLbtqhKxfyh1Yk&q=연세대학교&zoom=17" allowfullscreen>
  </iframe>
<div id='admin_ad'>
  <h4 id='admin_ad_header'>촬영공간 추가</h4>
  <form method="post">
      {% csrf_token %}
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="input1">이름</label>
        <input name="name" type="text" class="form-control" id="input1" placeholder="촬영공간 이름">
      </div>
      <div class="form-group col-md-6">
        <label for="input2">주소</label>
        <input name="addr" type="text" class="form-control" id="input2" placeholder="촬영공간의 주소">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="input3">건물이름</label>
        <input name="loc1" type="text" class="form-control" id="input3" placeholder="예)백양관">
      </div>
      <div class="form-group col-md-4">
        <label for="input4">층</label>
        <input name="loc2" type="text" class="form-control" id="input4" placeholder="O층">
      </div>
      <div class="form-group col-md-4">
        <label for="input5">위치</label>
        <input name="loc3" type="text" class="form-control" id="input5" placeholder="정문, 후문, 로비, 등...">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="input6">경도</label>
        <input name="lat" type="text" class="form-control" id="input6" placeholder="경도">
      </div>
      <div class="form-group col-md-6">
        <label for="input7">위도</label>
        <input name="lon" type="text" class="form-control" id="input7" placeholder="위도">
      </div>
    </div>
  <button style="width:100%" type="submit" class="btn btn-primary btn-lg">&nbsp;&nbsp;&nbsp;추가&nbsp;&nbsp;&nbsp;</button>
  </form>
</div>
  </div>

{% endblock %}
</body>

{% block scripts %}
  <script src="{% static 'js/cctv.js'%}"></script>
{% endblock %}

</html>